<div class= "text-white bg-info mb-3" >
  <style>
    h1 {text-align: center;}
   </style>
   <h1>show Book Detail </h1>
   <% if @book.profile_image.attached? %>
     <%= image_tag @book.profile_image %>
   <%end%>
   <div><p><strong>Book_Title</strong><br><%= @book.book_title%></p></div>
   <div><p><strong>Description</strong><br><%= @book.description%></p></div>
   <div><p><strong>Usre_name</strong><br><%= @book.user_id%></p></div>
   <div><p><strong>Publish_Date</strong><br><%= @book.publish_date%></p></div>
   <div><p><strong>Content</strong><br><%= @book.content %></p></div>
   <%= link_to 'Back', books_path , class: 'btn btn-primary' %>
   <% if can? :update, Book %>
      <%= link_to 'edit',  edit_book_path(@book.id),  class: 'btn btn-primary' %>
   <%end%>
</div>
