
<div class= "text-white bg-dark mb-3" >
  <div class="modal-body">
     <style>
     h1 {text-align: center;}
     </style>
     <% if @borrow_histories.present? %>
      <h1>Borrow History</h1>
    <table class= "table table-bordered" >
      <thead>
        <tr>
          <th> User_Id</th>
          <th> Book_Id </th>
          <th> Book_Title </th>
          <th> Publish_Date</th>
          <th> Issue_date </th>
          <th> Due_Date </th>
          <th> Fine</th>
            <%if can? :destroy, BorrowHistory %>
              <th> Request</th>
              <th> Return</th>
            <%end%>
        </tr>
      </thead>
      <tbody >
        <div id="borrow_histories">
          <% @borrow_histories.each do |borrow_history| %>
          <tr>
            <td> <%= borrow_history.user_id %> </td>
            <td> <%= borrow_history.book_id %> </td>
            <td> <%= borrow_history.book_title %> </td>
            <td> <%= borrow_history.publish_date.strftime('%m-%d-%y') %> </td>
            <td> <%= borrow_history.starts_at_time_of_day.strftime('%m-%d-%y')%> </td>
            <td> <%= borrow_history&.due_date&.strftime('%m-%d-%y')%> </td>
            <td> <%= borrow_history.fine %> </td>
              <%if can? :destroy, BorrowHistory%>
                <td> <%= borrow_history.status %> </td>
                <td> <%= link_to "Return", borrow_history_path(borrow_history.id),class: "btn btn-danger bi bi-x-lg",data: { 'turbo-method': :delete, 'turbo-confirm': 'Are you sure?' } %></td>
              <%end %>
            </tr>
          <% end %>

        </div>
      </tbody>
    </table>
     <%else%>
     <h1>Borrow History not present</h1>
     <%end%>
  </div>
</div>
<div class="modal-footer">
  <%if current_user.role == 'manager' || current_user.role == 'admin'%>
    <%= link_to 'Back To Student Table', users_path() , class: 'btn btn-primary' %>
  <%else%>
    <%= link_to 'Back To Books Table', books_path , class: 'btn btn-primary' %>
  <%end%>
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
